* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.about-section {
  background-image: url(../img/background/pexels-engin-akyurt-1552640.jpg
  );
  background-size: 115%;
}

.about-section {
  height: 100vh;
  width: 100vw;
  padding: 30px 48px;
  float: left;
}

.school-name {
  padding-left: 2%;
  color:aliceblue;
  text-transform: uppercase;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user {
  position: relative;
  width: 100vw;
  height: 30%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.author-img {
    bottom: 100%;
    left: 21%;
}


.author-li {
  float: left;
  width: 20rem;
}

.user-name {
  width: 100%;
  font-size: 105px;
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
}

.sub-name {
  color: rgb(100,149,237);
}

.user-info {
  position: relative;
  padding-left: 40px;
  width: 100%;
  font-size: 1.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style-type: none;
}

a {
  position: relative;
  top: 54%;
  text-decoration: unset;
  text-align: center;
  color: #000;
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:hover {
  color: rgb(100,149,237);
}
